<h1>Hello, <%= @user.username %></h1>

<h2>What would you like to do?</h2>


<p> Your Clients: </p>
<% if @clients.length == 0 %>
  <p> You have no clients. Add a client using the link below.</p>
<% end %>
<% @clients.each do |client| %>
  <ul>
    <li><a href="/clients/<%=client.id%>"><%= client.name %></a></li>
  </ul>
<% end %>

<p>Your Appointments: </p>
<% @user.appointments.each do |appointment| %>
  <ul>
    <li><a href="/appointments/<%=appointment.id%>"><%= appointment.name %></a></li>
  </ul>
<% end %>
